[submodule "thirdparty/inih"]
	path = thirdparty/inih
	url = https://github.com/benhoyt/inih.git
[submodule "thirdparty/cppformat"]
	path = thirdparty/cppformat
	url = https://github.com/cppformat/cppformat.git
